
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.1/chart.min.js"></script> 
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    
    <script src="https://kit.fontawesome.com/8e7cdbc65b.js" crossorigin="anonymous"></script>


    <title>SLAM-BOT</title>
    <link rel="stylesheet" href="/styles.css">

    <style>
        /* Styles for the points */
        .point {
          position: absolute;
          width: 10px; 
          height: 10px; 
          background-color: red;
          border-radius: 50%;
          z-index: 1000;
        }
      </style>

</head>
<body>
    <div id="here"  class="cam-feed-enabler-1">
        <h1 class="receiver_header">Camera Feed</h1>
        <img class="vid-plyr vid-stream-width" src="<%= imageData %>" alt="frame">
    </div>
    
    <!-- <div id="also_here">
        <canvas id="radar-chart"></canvas>
    </div> -->


    <div id="there" class="cam-feed-enabler">
        <h1 class="receiver_header">2D-Map</h1>
        <div>
            <img class="map-display" height="400px" width="700px" id="image" src="<%=img_path%>" alt="Image" style="display: none;">
        </div>
        <button class="btn btn-lg enabler-btns" id="toggleButton"> 
            <span class="button__text">Show Map </span>
            <i class="button__icon fas fa-map"></i>
        </button>

        <!-- <button id="updateButton"> Update Map</button> -->
        <button id="updateButton" class="enabler-btns">
            <span class="button__text">Update Map </span>
            <i class="button__icon fas fa-check"></i>        
        </button>
    </div>

    <div class="cam-feed-enabler">
        <h1 class="receiver_header">Shortest Path</h1>

        <div id="pointsContainer" style="z-index: 999; position: relative;">
            <div>
                <img class="map-display"  height="400px" width="700px" id="img" src="<%= img_path%>" alt="Image" style="z-index: 100">
            </div>
            <div id="coordinatesDisplay"></div>

            <button class="btn btn-lg enabler-btns" id="resetButton"> 
                <span class="button__text">Reset </span>
                <i class="button__icon fas fa-eraser"></i>
            </button>

            <!-- <button id="submitButton">Submit</button> -->

            <button class="btn btn-lg enabler-btns" id="submitButton"> 
                <span class="button__text">Submit </span>
                <i class="button__icon fas fa-paper-plane"></i>            
            </button>

            <div style="display: none;" class="vid-plyr" id="hidden_div">
                <h1 class="receiver_header">Shortest Path among the Coordinates</h1>
                <img height="400px" width="700px" id="img_1" src="<%= algo_map_path%>" alt="Shortest Path Map">
            </div>
        
            <script>
                const clickedCoordinates = [];
        
                function handleImageClick(event) {
                    console.log("Image clicked");
                    const image = document.getElementById('img');
                    const rect = image.getBoundingClientRect();
                    const x = event.clientX - rect.left;
                    const y = Math.round(event.clientY - rect.top);
                    console.log(`Clicked at coordinates: x=${x}, y=${y}`);
        
                    clickedCoordinates.push({ x, y });
        
                    const coordinatesDisplay = document.getElementById('coordinatesDisplay');
        
                    if (clickedCoordinates.length === 1) {
                        const startPoint = clickedCoordinates[0];
                        const h4Start = document.createElement('h4');
                        h4Start.textContent = `Start Point: x=${startPoint.x}, y=${startPoint.y}`;
                        h4Start.classList.add('points_display');
                        coordinatesDisplay.appendChild(h4Start);
                    } else if (clickedCoordinates.length === 2) {
                        const endPoint = clickedCoordinates[1];
                        const h4End = document.createElement('h4');
                        h4End.textContent = `End Point: x=${endPoint.x}, y=${endPoint.y}`;
                        h4End.classList.add('points_display');
                        coordinatesDisplay.appendChild(h4End);
        
                        document.getElementById('img').removeEventListener('click', handleImageClick);
                    }
        
                    const point = document.createElement('div');
                    point.className = 'point';
                    point.style.left = `${x}px`;
                    point.style.top = `${y}px`;
        
                    const pointsContainer = document.getElementById('pointsContainer');
                    pointsContainer.appendChild(point);
                }
        
                function handleResetButtonClick() {
                    clickedCoordinates.length = 0;
        
                    const coordinatesDisplay = document.getElementById('coordinatesDisplay');
                    coordinatesDisplay.innerHTML = '';
        
                    const dynamicPoints = document.getElementsByClassName('point');
                    while (dynamicPoints.length > 0) {
                        dynamicPoints[0].parentNode.removeChild(dynamicPoints[0]);
                    }
        
                    document.getElementById('img').addEventListener('click', handleImageClick);
                }


        function handleSubmitButtonClick() {
                if (clickedCoordinates.length === 2) {
                    const start = clickedCoordinates[0];
                    const end = clickedCoordinates[1];

                    const coordinates = { start, end };

                fetch('/saveCoordinates', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(coordinates)
                })
                .then(response => {
                    if (response.ok) {
                        alert('Coordinates sent successfully!');
                        document.getElementById('hidden_div').style.display = 'block';
                        document.getElementById('img_1').src = '<%= algo_map_path%>';
                    }
                    return response.text();
                })
                .then(response => response.text())

                .catch(error => console.error('Error:', error));
            } else {
                alert('Please select both start and end coordinates before submitting.');
            }
        }

                
        
                document.getElementById('img').addEventListener('click', handleImageClick);
                document.getElementById('submitButton').addEventListener('click', handleSubmitButtonClick);        
                document.getElementById('resetButton').addEventListener('click', handleResetButtonClick);
        
            </script>
        </div>
    </div>    
        
        
        





       

        

        


<script>
    $(document).ready(function() {
        $('#toggleButton').click(function() {
            if ($('#image').css('display') == 'none') {
                $('#image').css('display', 'block');
            } else {
                $('#image').css('display', 'none');
            }
        });
    });
</script>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            var image = document.getElementById("image");
            var updateButton = document.getElementById("updateButton");
            var cooldownInProgress = false;
    
            updateButton.addEventListener("click", function() {
                if (!cooldownInProgress) {
                    cooldownInProgress = true;    
                    updateButton.disabled = true;
                    updateButton.classList.add('disabled'); // Add the disabled class
                    image.src = '<%=img_path %>';
                    setTimeout(function() {
                        updateButton.disabled = false;
                        updateButton.classList.remove('disabled'); // Remove the disabled class
                        cooldownInProgress = false; 
                    }, 15000);
                }
            });
        });
    </script>
    

    <!-- <script> 
    const formattedData = <%- JSON.stringify(numbersData.map(point => ({ label: point.number + '°', value: point.randomNumber })) ) %>;
        var ctx = document.getElementById('radar-chart').getContext('2d');
        var radarChart = new Chart(ctx, {
            type: 'radar',
            data: {
                labels: formattedData.map(point => point.label),
                datasets: [{
                    label: 'Data Points',
                    data: formattedData.map(point => point.value),
                    backgroundColor: 'rgba(75, 192, 192, 0.2)',
                    borderColor: 'rgba(75, 192, 192, 1)',
                    borderWidth: 1
                }]
            },
        });
    </script> -->


    <script>
        function updateDiv()
    { 
        $( "#here" ).load(window.location.href + " #here" );
    }
    setInterval(updateDiv, 100);
    </script>

</body>
</html>



